{% extends "layout.html" %}

{% block pageTitle %}
  Confirm employer
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase_banner.html" %}
  <a href="start" style="float:right; margin-top:10px">Finish and start again</a>
  <a id="back" class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Confirm employer details</h1>

      <form class="form" method="post">

        <div class="form-group">
          <p class="govuk-body govuk-!-font-weight-bold" style="margin-bottom: 3px">Business name</p>
          <p class="govuk-body">{% if data['businessName'] == null %}
              Acme Ltd
             {% else %}
              {{ data['businessName'] }}
             {% endif %}</p>

        <p class="govuk-body"><a href="#">Find a different employer</a></p>

        <p class="govuk-body govuk-!-font-weight-bold" style="margin-bottom: 3px">Contact name for placements</p>
          <p class="govuk-body">Joe Bloggs</p>

        <p class="govuk-body govuk-!-font-weight-bold" style="margin-bottom: 3px">Phone number</p>
          <p class="govuk-body">01234 567890</p>

        <p class="govuk-body govuk-!-font-weight-bold" style="margin-bottom: 3px">Email</p>
          <p class="govuk-body">j.bloggs@acmeltd.co.uk</p>

        <p><a href="edit-employer">Change contact details</a></p>
        </div>

        <button class="govuk-button">Confirm and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
