{% extends "layout.html" %}

{% block pageTitle %}
  Employer name
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase_banner.html" %}
  <a href="start" style="float:right; margin-top:10px">Finish and start again</a>
  <a id="back" class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Who is the employer?</h1>

      <form class="form" method="post">


        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-width-two-thirds" for="two-thirds">
            Start typing their business name
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="{{ data['businessName'] }}" name="businessName" type="text">
        </div>

        <!-- <p style="margin-bottom: 20px"><a href="add-employer-gap"> I cannot find the employer</a></p> -->

        <button class="govuk-button">Continue</button>



      </form>

    </div>
  </div>

{% endblock %}
