{% extends "layout_new.html" %}

{% block pageTitle %}
  Check CRM
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase_banner.html" %}
  <a id="back" class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Update {% if data['businessName'] == "" %}
        Acme Ltd's
       {% else %}
        {{ data['businessName'] }}'s
       {% endif %} information</h1>

      <form class="form" method="post">

        {% include "./_includes/pathways.html" %}

        <h3 class="govuk-heading-m">Make sure {% if data['businessName'] == "" %}
          Acme Ltd's
         {% else %}
          {{ data['businessName'] }}'s
         {% endif %} CRM record is up to date</h3>


      <!-- Dynamic - only if changed details in add-edit-employer or edit-employer-->

            <!-- <p>You changed the employer's contact details:</p>
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-quarter govuk-heading-s">Business name</div>
                <div class="govuk-grid-column-three-quarters govuk-body">{{ data['businessName'] }}</div>
              </div>
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-quarter govuk-heading-s">Contact name for placements</div>
                <div class="govuk-grid-column-three-quarters govuk-body">Joe Bloggs</div>
              </div>
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-quarter govuk-heading-s">Contact phone number</div>
                <div class="govuk-grid-column-three-quarters govuk-body">01234 567890</div>
              </div>
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-quarter govuk-heading-s">Contact email</div>
                <div class="govuk-grid-column-three-quarters govuk-body">newemail@gmail.com</div>
              </div>  -->

<!-- Dynamic - END -->

              <div class="govuk-form-group">
                <p class="govuk-body">Make sure you have:</p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>added a brief summary of your most recent conversation</li>
                    <li>updated the employer’s AUPA status, if it has changed </li>
                  </ul>

                <p class="govuk-body"><a href="#">Open {% if data['businessName'] == "" %}
                  Acme Ltd's
                 {% else %}
                  {{ data['businessName'] }}'s
                 {% endif %} CRM record (opens in a new window or tab)</a></p>

              </div>





        <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <div class="govuk-form-group">
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="CRM-confirm" name="CRM-confirm" type="checkbox" value="CRM-confirm">
                <label class="govuk-label govuk-checkboxes__label" for="CRM-confirm">
                  I confirm the employer’s CRM record is up to date
                </label>
              </div>
            </div>
        </div> -->

        <button class="govuk-button">Finish</button>
        <p><a href="give-feedback">Give us feedback</a></p>

      </form>

    </div>
  </div>

{% endblock %}
