// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

// Patterns that aren't in Frontend
@import "patterns/check-your-answers";
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";
@import "patterns/govuk";
@import "patterns/govukFilter";
@import "patterns/accessible-autocomplete";
@import "patterns/option-select";
@import "patterns/search";
@import "patterns/pane";
@import "patterns/nhs";


// Components that aren't in Frontend
@import "components/cookie-banner";
@import "components/accordion";
@import "components/timeline";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.app-check-your-answers--index {
  @include govuk-media-query($from: desktop) {
    // to make group of q&a line up horizontally (unless there is just one group)
    width: 100%;

    // recommended for mostly long questions
    .app-check-your-answers__question {
      width: 10%;
    }
    .app-check-your-answers__answer {
      width: 30%;
    }
    .app-check-your-answers__change {
      width: 5%;
    }

.results_header {
    width: 100%;
    background-color: grey;
    }
  }
}


.tl-table-row-vtop {
    .govuk-table__cell {
        vertical-align: top;
    }
}

.tl-button--blue {
    background: govuk-colour("blue");

    &:hover,
    &:focus {
        background: darken(govuk-colour("blue"), 10%);
    }
}

.tl-button--grey {
    background: govuk-colour("grey-3");
    color: govuk-colour("black") !important;

    &:hover,
    &:focus {
        color: govuk-colour("black") !important;
        background: darken(govuk-colour("grey-3"), 10%);
    }
}

.tl-float-left {
    float: left;
}

.tl-float-right {
    float: right;
}

.tl-hidden {
    display: none;
}

.tl-upload-bar {
    width: 100%;
    display: block;
    background-color: govuk-colour("grey-3");
    min-height: 8px;
    margin-bottom: 10px;
}
.tl-upload-bar-progress {
    background-color: govuk-colour("blue");
    display: block;
    position: relative;
    min-height: 8px;
    top: 0;
    left: 0;
    width: 0%;
}

.tl-upload-bar-progress-error {
    background-color: govuk-colour("blue");
    display: block;
    position: relative;
    min-height: 8px;
    top: 0;
    left: 0;
    width: 0%;
}

.table-clickable tbody tr:hover {
  background-color: #F8F8F8;
  cursor: pointer;
}

$selected-colour: #F8F8F8;

.table-clickable tbody tr.checked {
  background-color: #F8F8F8;
}

.table-clickable tbody tr.checked:hover {
  background-color: darken(#F8F8F8, 5%);
}

.table-clickable {

  .multiple-choice--hod {
  padding: 0.9em 0 0.9em 1.05263em;
  margin: 0;

  }
}


.tl-row-red {
    background-color: #ffe5e5;

    &:hover {
        background-color: darken(#ffe5e5, 1.5%) !important;
    }
}
