{% extends "layout.html" %}

{% block pageTitle %}
Match employers with providers for industry placements
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase_banner.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">How to sign in</h1>

      <form class="form" method="post">

        <h2 class="govuk-heading-s" style="margin-bottom: 2px">If you do not have an account to sign in</h2>
        <p class="govuk-body">Speak to your line manager or team lead and they can request one for you.</p>

        <h2 class="govuk-heading-s" style="margin-bottom: 2px">If you sign in using an @education.gov.uk email</h2>
        <p class="govuk-body">Use the same details you use to access the employer CRM.</p>

        <h2 class="govuk-heading-s" style="margin-bottom: 2px">If you sign in using a different email</h2>
        <p class="govuk-body">Use the details that your team lead should have given you for this service.</p>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Have an account but still cannot log in?
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="gouk-body">You may need to:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>make sure your username is added to the service - speak to your line manager or team lead </li>
              <li>reset your password - you can do this on the next screen</li>
          </div>
        </details>


        <!-- <div class="govuk-form-group">
          <p class="govuk-body">You will need to use your Staff IdAMS account details.</p>
          <p class="govuk-body">Staff IdAMS accounts are for Department for Education members of staff and require an @education.gov.uk or @fasst.org.uk email to sign in.</p>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                I use an @sfa.bis.gov.uk email to sign in to IdAMS
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">You may need to reactivate your account.</p>
              <ol class="govuk-list govuk-list--number">
                <li>Click login.</li>
                <li>Select ‘I have forgotten my password’.</li>
                <li>Check your education.gov.uk email address.</li>
                <li>Reset your password.</li>
                <li>Sign in using your education.gov.uk email and the new password.</li>
              </ol>
            </div>
          </details>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                I am not a Department for Education member of staff
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">You should have been given an @education.gov.uk email to use this service. Use your new details to sign in to find an industry placement. Do not try to sign in with the same details you use for the CRM.</p>
            </div>
          </details>

        </div> -->

        <button class="govuk-button">
          Continue
        </button>


      </form>

    </div>
  </div>

{% endblock %}
