{% extends "layout.html" %}

{% block pageTitle %}
Provider overview
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase_banner.html" %}
  <a id="back" class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
<form class="form" method="post">

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

{% if data['UKPRN'] == '10001234' %}
        <span class="govuk-caption-m">UKPRN: 10001234</span>
          <h1 class="govuk-heading-l">DT Learning</h1>

          <p class="govuk-body govuk-link"><a href="provider-data-sure">Hide provider</a></p>

          <div class="govuk-form-group">
            <label class="govuk-heading-s" for="knownas">
            Enter display name (optional)
            </label>
            <input class="govuk-input" id="knownas" name="knownas" type="text" value="DT Learning Centre">
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <h3 class="govuk-fieldset__heading">
                  Should they receive referrals?
                </h3>
              </legend>
              <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name-1" name="changed-name" type="radio" value="yes" checked="checked">
                  <label class="govuk-label govuk-radios__label" for="changed-name-1">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="changed-name-2">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <!-- <div class="govuk-form-group">
            <label class="govuk-label" for="ofsted">
              Ofsted rating
            </label>
            <select class="govuk-select" id="ofsted" name="ofsted">
              <option value="Outstanding">Outstanding</option>
              <option value="Good" selected>Good</option>
              <option value="Requires improvement">Requires improvement</option>
              <option value="Inadequate">Inadequate</option>
            </select>
          </div> -->

          <!-- <a href="#" class="govuk-button" style="margin-bottom: 0; background-color: #dee0e2; color: black">Save section</a> -->

          <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->

          <h2 class="govuk-heading-m">Placement contact</h2>

          <div class="govuk-form-group">
            <label class="govuk-label" for="data_contact_name">
              Contact name
            </label>
            <input class="govuk-input govuk-input--width-20" id="data_contact_name" name="data_contact_name" type="text" value="David Davies">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="data_contact_email">
              Email
            </label>
            <input class="govuk-input govuk-input--width-20" id="data_contact_email" name="data_contact_email" type="email" value="notknown@notknown.com">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="data_contact_phone">
              Phone number
            </label>
            <input class="govuk-input govuk-input--width-20" id="data_contact_phone" name="data_contact_phone" type="tel" value="010 1234 5678 ext 1010">
          </div>

          <a href="#" class="govuk-button" style="margin-bottom: 0; background-color: #dee0e2; color: black">Save section</a>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <h2 class="govuk-heading-m">Active venues</h2>

          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Postcode</th>
                <th class="govuk-table__header" scope="col">2018 to 2019</th>
                <th class="govuk-table__header" scope="col">2019 to 2020</th>
                <th class="govuk-table__header" scope="col"></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th class="govuk-table__cell">DE4 1DE</th>
                <td class="govuk-table__cell">4 qualifications</td>
                <td class="govuk-table__cell">No data yet</td>
                <td class="govuk-table__cell" style="text-align: right"><a href="provider-data-venue">Change</a><span class="govuk-visually-hidden"> the information for this venue</span></td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__cell">TF1 2XC</th>
                <td class="govuk-table__cell">2 qualifications</td>
                <td class="govuk-table__cell">No data yet</td>
                <td class="govuk-table__cell" style="text-align: right"><a href="#">Change</a><span class="govuk-visually-hidden"> the information for this venue</span></td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__cell">HG1 7VG</th>
                <td class="govuk-table__cell">5 qualifications</td>
                <td class="govuk-table__cell">No data yet</td>
                <td class="govuk-table__cell" style="text-align: right"><a href="#">Change</a><span class="govuk-visually-hidden"> the information for this venue</span></td>
              </tr>
            </tbody>
          </table>

          <p class="govuk-body"><a class="govuk-link" href="provider-data-addvenue">Add a venue</a></p>


          <h2 class="govuk-heading-m">Inactive venues</h2>

          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" style="color: #6f777b" scope="col">Postcode</th>
                <th class="govuk-table__header" style="color: #6f777b" scope="col">2018 to 2019</th>
                <th class="govuk-table__header" style="color: #6f777b" scope="col">2019 to 2020</th>
                <th class="govuk-table__header" style="color: #6f777b" scope="col"></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th class="govuk-table__cell" style="color: #6f777b">DE2 3HG</th>
                <td class="govuk-table__cell" style="color: #6f777b">1 qualification</td>
                <td class="govuk-table__cell" style="color: #6f777b">No data yet</td>
                <td class="govuk-table__cell" style="text-align: right; color: #6f777b"><a href="provider-data-venue-sure">Unhide</a><span class="govuk-visually-hidden"> this venue</span></td>
              </tr>
            </tbody>
          </table>


{% else %}
          <span class="govuk-caption-m">UKPRN: {{ data['UKPRN'] }}</span>
            <h1 class="govuk-heading-l">Acme College</h1>

            <p class="govuk-body govuk-link"><a href="provider-data-sure">Unhide provider</a></p>

            <div class="govuk-form-group">
              <label class="govuk-heading-s" for="knownas">
              Enter display name (optional)
              </label>
              <input class="govuk-input" id="knownas" name="knownas" type="text" value="DT Learning Centre">
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  <h3 class="govuk-fieldset__heading">
                    Should they receive referrals?
                  </h3>
                </legend>
                <div class="govuk-radios govuk-radios--inline">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="changed-name-1" name="changed-name" type="radio" value="yes" checked="checked">
                    <label class="govuk-label govuk-radios__label" for="changed-name-1">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <!-- <div class="govuk-form-group">
              <label class="govuk-label" for="ofsted">
                Ofsted rating
              </label>
              <select class="govuk-select" id="ofsted" name="ofsted">
                <option value="Outstanding" selected>Select rating</option>
                <option value="Outstanding">Outstanding</option>
                <option value="Good">Good</option>
                <option value="Requires improvement">Requires improvement</option>
                <option value="Inadequate">Inadequate</option>
              </select>
            </div> -->

            <!-- <a href="#" class="govuk-button" style="margin-bottom: 0; background-color: #dee0e2; color: black">Save section</a>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->

            <h2 class="govuk-heading-m">Placement contact</h2>

            <div class="govuk-form-group">
              <label class="govuk-label" for="data_contact_name">
                Contact name for placements
              </label>
              <input class="govuk-input govuk-input--width-20" id="data_contact_name" name="data_contact_name" type="text">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="data_contact_email">
                Email
              </label>
              <input class="govuk-input govuk-input--width-20" id="data_contact_email" name="data_contact_email" type="email">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="data_contact_phone">
                Phone number
              </label>
              <input class="govuk-input govuk-input--width-20" id="data_contact_phone" name="data_contact_phone" type="tel">
            </div>

            <a href="#" class="govuk-button" style="margin-bottom: 0; background-color: #dee0e2; color: black">Save section</a>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <div class="form-group">
              <h2 class="govuk-heading-m">Venues and qualifications</h2>
              <p>You need to <a class="govuk-link" href="provider-data-addvenue">add a venue for this provider</a>.</p>
            </div>


{% endif %}

        <button class="govuk-button">Finish</button>
      </div>
  </div>

</form>

{% endblock %}
