{% extends "layout.html" %}

{% block pageTitle %}
  Do you want us to send an email to {{ data['businessName'] }}?
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase_banner.html" %}
  <a href="start" style="float:right; margin-top:10px">Finish and start again</a>
  <a id="back" class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post">

        <h1 class="govuk-heading-l">
          Do you want us to send an email to {{ data['businessName'] }} confirming this placement information?
        </h1>

        <p class="govuk-body">Select ‘no’ if you’re creating multiple placements for the same employer and you don’t want them to receive lots of emails.</p>

        <div class="govuk-form-group">
            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="employer_email-yes" name="employer_email" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="email-yes">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="employer_email-no" name="employer_email" type="radio" value="no" data-aria-controls="conditional-student-number-conditional-2">
                    <label class="govuk-label govuk-radios__label" for="email-no">
                      No
                    </label>
              </div>
            </div>
        </div>


        <button class="govuk-button">Confirm and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
