{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Contents</h1>

      <form class="form" method="post">

        <div class="govuk-form-group">
          <p><a href="start">Start page</a></p>
          <p><a href="placements">How many placements?</a></p>
          <p><a href="location">Where is the placement?</a></p>
          <p><a href="course">What skills?</a></p>
          <p><a href="provision-gap">Provision gap</a></p>
          <p><a href="employer-name">Employer name</a></p>
          <p><a href="confirm-gap">Confirm and send provision gap</a></p>
          <p><a href="add-edit-employer">Add/Edit employer details</a></p>
          <p><a href="one-provider">One provider halt page</a></p>
          <p><a href="results">Provider results</a></p>
          <p><a href="employer-name">Enter employer name</a></p>
          <p><a href="edit-employer">Edit employer details</a></p>
          <p><a href="check-answers">Check employers answers</a></p>
          <p><a href="check-providers">Check providers</a></p>
          <p><a href="check-providers">Check providers</a></p>
          <p><a href="emails-sent">Emails sent</a></p>
          <p><a href="check-CRM">Check and update CRM</a></p>
          <p><a href="give-feedback">Feedback survey</a></p>



        </div>

      </form>

    </div>
  </div>

{% endblock %}
