{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Contents</h1>

      <form class="form" method="post">

        <div class="govuk-form-group">
          <p><a href="start">Start page</a></p>
          <p><a href="location">Location</a></p>
          <p><a href="course">Course</a></p>
          <p><a href="results">Provider results</a></p>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
