{% extends "layout.html" %}
{% block pageTitle %}
  Skills and experience
{% endblock %}
{% set _routeList = myData["industry-categories"].categories %}
{% block beforeContent %}
  <a id="back" class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">What skills or experience is the employer looking for?</h1>
      <form class="form" method="post">

        <p>Use search or browse to match them with providers.</p>
        <h2 class="govuk-heading-m">Search for a qualification</h2>
        <div class="govuk-form-group">
          <!-- <label class="govuk-label" for="skill">
            Enter course or subject
          </label> -->
          <input class="govuk-input govuk-input--width-20" id="{{ data['skill'] }}" name="skill" type="text">
          <!-- <span><button class="govuk-button" style="background-color: #005ea5">Show results</button> <a href="1" target="_blank"></a></span> -->
          <span><a class="govuk-button" href="enter-employer-name" onclick="window.open('https://invis.io/HNPKE1NPDJX#/336358476_Search_results');" style="background-color: #005ea5">Show results</a></span>

        </div>
        <h3 class="govuk-heading-m">Browse for the right skills</h3>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="browse-hint">
            <span id="browse-hint" class="govuk-hint">
              Select all that apply
            </span>
            {% set _firstLevelIndex = 0 %}
            {% set _secondLevelIndex = 0 %}
            {% set _thirdLevelIndex = 0 %}
            <!-- 1st level container -->
            <div class="govuk-checkboxes govuk-checkboxes--conditional" data-module="checkboxes">
              {% for route in _routeList %}
                {% set _firstLevelIndex = _firstLevelIndex + 1 %}
                {% set _secondLevelIndex = 0 %}
                {% set _thirdLevelIndex = 0 %}
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="route-{{_firstLevelIndex}}" name="route" type="checkbox" value="{{route.title}}" data-aria-controls="conditional-route-{{_firstLevelIndex}}" >
                  <label class="govuk-label govuk-checkboxes__label" for="route-{{_firstLevelIndex}}">
                    {{route.title}}
                  </label>
                </div>
                <!-- 2nd level container -->
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-route-{{_firstLevelIndex}}">

                    {% for path in route.paths %}
                    {% set _secondLevelIndex = _secondLevelIndex + 1 %}
                    {% set _thirdLevelIndex = 0 %}

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="path-{{_firstLevelIndex}}-{{_secondLevelIndex}}" name="path" type="checkbox" value="{{path.title}}" data-aria-controls="conditional-path-{{_firstLevelIndex}}-{{_secondLevelIndex}}">
                      <label class="govuk-label govuk-checkboxes__label" for="path-{{_firstLevelIndex}}-{{_secondLevelIndex}}" >
                        {{path.title}}
                      </label>
                    </div>
                    <!-- 3rd level container -->
                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-path-{{_firstLevelIndex}}-{{_secondLevelIndex}}">
                      {% for cluster in path.clusters %}
                        {% set _thirdLevelIndex = _thirdLevelIndex + 1 %}

                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="cluster-{{_firstLevelIndex}}-{{_secondLevelIndex}}-{{_thirdLevelIndex}}" name="cluster" type="checkbox" value="{{cluster.title}}" >
                            <label class="govuk-label govuk-checkboxes__label" for="cluster-{{_firstLevelIndex}}-{{_secondLevelIndex}}-{{_thirdLevelIndex}}">
                            {{cluster.title}}
                            </label>
                        </div>
                      {% endfor %}
                    </div>
                  {% endfor %}
                </div>
              {% endfor %}
            </div>
          </fieldset>
        </div>
        <!-- <button class="govuk-button" style="background-color: #005ea5">Show results</button> -->
        <a class="govuk-button" href="enter-employer-name" onclick="window.open('https://invis.io/UHPKE6TRVA6#/336358477_Browse_Results');" style="background-color: #005ea5">Show results</a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
