{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a id="back" class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">What skills are you looking for?</h1>

      <form class="form" method="post">

        <h2 class="govuk-heading-m">Search</h2>


        <div class="govuk-form-group">
          <label class="govuk-label" for="skill">
            Enter course or subject
          </label>
          <input class="govuk-input govuk-input--width-20" id="skill" name="skill" type="text">
          <span><button class="govuk-button" style="background-color: #005ea5">Search</button></span>

        </div>

        <h3 class="govuk-heading-m">Browse</h3>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="browse-hint">
            <span id="browse-hint" class="govuk-hint">
              Select all appropriate routes and paths.
            </span>

            <!-- route 1 -->
              <div class="govuk-checkboxes govuk-checkboxes--conditional" data-module="checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="route-conditional-1" name="route-1" type="checkbox" value="agriculture" data-aria-controls="conditional-route-conditional-1" >
                  <label class="govuk-label govuk-checkboxes__label" for="route-conditional-1">
                    Agriculture, environmental and animal care
                  </label>
                </div>
                      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-route-conditional-1">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="path-conditional-1" name="path-1" type="checkbox" value="reveal" data-aria-controls="conditional-path-conditional-1">
                          <label class="govuk-label govuk-checkboxes__label" for="path-conditional-1">
                            Animal care and management
                          </label>
                        </div>

                            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-path-conditional-1" style="margin-left: 73px">
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="cluster-conditional-1" name="cluster-1" type="checkbox" value="reveal2" data-aria-controls="conditional-cluster-conditional-1">
                                <label class="govuk-label govuk-checkboxes__label" for="cluster-conditional-1">
                                  Animal care and welfare assistant
                                </label>
                              </div>
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="cluster-conditional-1" name="cluster-1" type="checkbox" value="reveal2" data-aria-controls="conditional-cluster-conditional-1">
                                <label class="govuk-label govuk-checkboxes__label" for="cluster-conditional-1">
                                  Equine groom or farrier
                                </label>
                              </div>
                            </div>
                        </div>
                      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-route-conditional-1">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="path-conditional-1a" name="path-1a" type="checkbox" value="reveala" data-aria-controls="conditional-path-conditional-1a">
                          <label class="govuk-label govuk-checkboxes__label" for="path-conditional-1a">
                            Animal care and management22
                          </label>
                        </div>

                      </div>


              </div>


            </fieldset>
          </div>

            <button class="govuk-button" style="background-color: #005ea5">Browse</button>


        </form>
      </div>
    </div>
  </div>

{% endblock %}
