{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Find an industry placement student</h1>

      <form class="form" method="post">

        <div class="govuk-form-group">
          <p>Use the service to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>find local course providers with suitable students</li>
            <li>get contact details for relevant providers</li>
          </ul>
        </div>

        <a href="location" role="button" draggable="false" class="govuk-button govuk-button--start">
          Start now
        </a>

      </form>

    </div>
  </div>

{% endblock %}
