{% extends "layout.html" %}

{% block pageTitle %}
  Start page
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Find an industry placement</h1>

      <form class="form" method="post">

        <div class="govuk-form-group">
          <p>Use the service to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>find providers with suitable, local students for your employers</li>
            <li>send emails to providers and employers so they can start talking about placements</li>
            <li>help us identify where there are not enough providers</li>
          </ul>
        </div>

        <button class="govuk-button govuk-button--start">
          Start now
        </button>

        <p><a href="https://invis.io/2APKE9E6SWX#/336358479_1-_Empty_Search">
          Quick search
        </a></p>

      </form>

    </div>
  </div>

{% endblock %}
