{% extends "layout.html" %}

{% block pageTitle %}
  Confirm and send provision gap
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase_banner.html" %}
  <a href="start" style="float:right; margin-top:10px">Finish and start again</a>
  <a id="back" class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
<form class="form" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-l">Opportunity basket</h1>

      <div class="accordion govuk-!-margin-bottom-6">
        <div class="accordion-section">
          <div class="accordion-section-header">
            <h2 class="govuk-heading-s" style="float: left; margin-right: 20%;">Health and science</h2>
            <h2 class="govuk-heading-s" style="float: center">TF1 7VC</h2>
          </div>
          <div class="accordion-section-body">
            <div class="form-group">
                <p class="govuk-body govuk-!-font-weight-bold" style="margin-bottom: 3px">Provider 1</p>
                <p>The WKCIC Group</p>
                <p>1.5 miles miles from <span style="text-transform: uppercase">{{ data['postcode'] }}</span></p>
              <br>
                <p class="govuk-body govuk-!-font-weight-bold" style="margin-bottom: 3px">Provider 2</p>
                <p>Lambeth College </p>
                <p>4.3 miles from <span style="text-transform: uppercase">{{ data['postcode'] }}</span></p>
              <br>
                <p><a href="provider-results">Change providers</a></p>
            </div>
          </div>
        </div>
      </div>


      <button class="govuk-button">Continue</button>

    </div>
  </div>
</form>
{% endblock %}





{% block pageScripts %}
<script>
  // $(document).ready(function()){

  if (
      'addEventListener' in document &&
      document.querySelectorAll
      ) {
      document.addEventListener('DOMContentLoaded', function() {
        var accordions = document.querySelectorAll('.accordion')
        for (var i = accordions.length - 1; i >= 0; i--) {
          new Accordion(accordions[i])
        };
      })
    }
// });
</script>
{% endblock %}
