{% extends "layout.html" %}

{% block pageTitle %}
  Confirm and send provision gap
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase_banner.html" %}
  <a href="start" style="float:right; margin-top:10px">Finish and start again</a>
  <a id="back" class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
<form class="form" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">Opportunity basket</h1>

      <div class="accordion" >

        <div class="accordion-section">

          <div class="accordion-section-header">
            <h2 class="govuk-heading-m">Send an email</h2>
          </div>
          <div class="accordion-section-body">
            <p class="govuk-body">Email us at <a href="#">support@esfadigital.com</a>.</p>
          </div>

        </div>
        <div class="accordion-section">

          <div class="accordion-section-header">
            <h2 class="govuk-heading-m">Phone us</h2>
          </div>
          <div class="accordion-section-body">
            <p class="govuk-body">Telephone: 08000 150 600.</p>
            <p class="govuk-body">Current waiting time: 1 minute.</p>
            <p class="govuk-body">Available 8am to 10pm, 7 days a week.</p>
            <p class="govuk-body"><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>


          </div>

        </div>
      </div>

      <button class="govuk-button">Continue</button>

    </div>
  </div>
</form>
{% endblock %}

{% block pageScripts %}
<script>
  // $(document).ready(function()){
console.log("DAVE")

  if (
      'addEventListener' in document &&
      document.querySelectorAll
      ) {
      document.addEventListener('DOMContentLoaded', function() {
        var accordions = document.querySelectorAll('.accordion')
        for (var i = accordions.length - 1; i >= 0; i--) {
          new Accordion(accordions[i])
        };
      })
    }
// });
</script>
{% endblock %}
