{% extends "layout.html" %}

{% block pageTitle %}
Venue and qualifications
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase_banner.html" %}
  <a id="back" class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
<form class="form" method="post">

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

{% if data['UKPRN'] == '10001234' %}

        <span class="govuk-caption-m">DT Learning</span>
          <h1 class="govuk-heading-l">DE4 1DE</h1>

          <p class="govuk-body govuk-link"><a href="provider-data-sure">Remove venue</a></p>

          <div class="govuk-form-group">
            <label class="govuk-label" for="venueName">
            Venue name (optional)
            </label>
            <input class="govuk-input govuk-!-width-one-half" id="venueName" name="venueName" type="text" value="Royal College">
          </div>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <div class="govuk-form-group">
              <h2 class="govuk-heading-m">Qualifications</h2>

              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">LAR ID</th>
                    <th class="govuk-table__header" scope="col">Qualification title</th>
                    <th class="govuk-table__header" scope="col">18/19 referrals</th>
                    <th class="govuk-table__header" scope="col">19/20 referrals</th>
                    <th class="govuk-table__header" scope="col"></th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">10001234</td>
                    <td class="govuk-table__cell">NVQ Level 2 in Lawn Mowering</td>
                    <td class="govuk-table__cell">
                      <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="1a" name="1a" type="checkbox" value="yes" checked>
                          <label class="govuk-label govuk-checkboxes__label" for="1a"></label>
                        </div>
                      </div>
                    </td>
                    <td class="govuk-table__cell">
                      <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="1b" name="1b" type="checkbox" value="yes">
                          <label class="govuk-label govuk-checkboxes__label" for="1b"></label>
                        </div>
                      </div>
                    </td>
                    <td class="govuk-table__cell" style="text-align: right"><a href="#">Remove</a></td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">10001234</td>
                    <td class="govuk-table__cell">NVQ Level 2 in Lawn Mowering</td>
                    <td class="govuk-table__cell">
                      <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="2a" name="2a" type="checkbox" value="yes" checked>
                          <label class="govuk-label govuk-checkboxes__label" for="2a"></label>
                        </div>
                      </div>
                    </td>
                    <td class="govuk-table__cell">
                      <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="2b" name="2b" type="checkbox" value="yes">
                          <label class="govuk-label govuk-checkboxes__label" for="2b"></label>
                        </div>
                      </div>
                    </td>
                    <td class="govuk-table__cell" style="text-align: right"><a href="#">Remove</a></td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">10001234</td>
                    <td class="govuk-table__cell">NVQ Level 2 in Lawn Mowering</td>
                    <td class="govuk-table__cell"><div class="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="3a" name="3a" type="checkbox" value="yes" checked>
                        <label class="govuk-label govuk-checkboxes__label" for="3a"></label>
                      </div>
                    </div>
                    </td>
                    <td class="govuk-table__cell">
                      <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="3b" name="3b" type="checkbox" value="yes">
                          <label class="govuk-label govuk-checkboxes__label" for="3b"></label>
                        </div>
                      </div>
                    </td>
                    <td class="govuk-table__cell" style="text-align: right"><a href="#">Remove</a></td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">10001234</td>
                    <td class="govuk-table__cell">NVQ Level 3 in Ride on Lawn Mower Skills</td>
                    <td class="govuk-table__cell"><div class="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="4a" name="4a" type="checkbox" value="yes" checked>
                        <label class="govuk-label govuk-checkboxes__label" for="4a"></label>
                      </div>
                    </div>
                    </td>
                    <td class="govuk-table__cell">
                      <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="4b" name="4b" type="checkbox" value="yes">
                          <label class="govuk-label govuk-checkboxes__label" for="4b"></label>
                        </div>
                      </div>
                    </td>
                    <td class="govuk-table__cell" style="text-align: right"><a href="#">Remove</a></td>
                  </tr>
                </tbody>
              </table>
{% else %}

        <span class="govuk-caption-m">Acme College</span>
          <h1 class="govuk-heading-l" style="text-transform: uppercase">{{ data['venuePostcode'] }}</h1>

          <p class="govuk-body govuk-link"><a href="provider-data-sure">Remove venue</a></p>

          <div class="govuk-form-group">
            <label class="govuk-label" for="venueName">
            Venue name (optional)
            </label>
            <input class="govuk-input govuk-!-width-one-half" id="venueName" name="venueName" type="text">
          </div>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <div class="govuk-form-group">
              <h2 class="govuk-heading-m">Qualifications</h2>

              <p class="govuk-body">You haven't told us about any qualifications at this venue yet.</p>


{% endif %}

              <p class="govuk-body govuk-link"><a href="provider-data-addqual">Add a qualification</a></p>
          </div>

        <button class="govuk-button" style="margin-bottom: 0; background-color: #dee0e2; color: black">Save and return</button>
      </div>
  </div>

</form>

{% endblock %}
