<div class="govuk-option-select filter-field-text">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <div class="govuk-form-group" style="margin-bottom: 15px">
            <label class="govuk-label govuk-!-font-weight-bold" for="postcode">
              Postcode
            </label>
            <input class="govuk-input govuk-input--width-5" id="postcode" name="postcode" type="text">
          </div>
        </div>

        <div class="govuk-grid-column-one-quarter">
          <div class="govuk-form-group" style="margin-bottom: 15px">
            <label class="govuk-label govuk-!-font-weight-bold" for="radius">
              Radius
            </label>
            <select class="govuk-select" id="radius" name="radius">
              <option value="1mile">1 mile</option>
              <option value="3miles">3 miles</option>
              <option value="5miles">5 miles</option>
              <option value="10miles" selected>10 miles</option>
              <option value="25miles" >25 miles</option>
            </select>
          </div>
        </div>

        <div class="govuk-grid-column-one-half">
          <div class="govuk-form-group" style="margin-bottom: 15px">
            <label class="govuk-label govuk-!-font-weight-bold" for="route">
              Route
            </label>
            <select class="govuk-select" id="route" name="route">
              <option value="agriculture" selected>Agriculture, environmental and animal care</option>
              <option value="business">Business and administration</option>
              <option value="care">Care services</option>
              <option value="catering">Catering and hospitality</option>
              <option value="construction">Construction</option>
              <option value="creative">Creative and design</option>
              <option value="digital">Digital</option>
              <option value="education">Education and childcare</option>
              <option value="engineering">Engineering and manufacturing</option>
              <option value="hair">Hair and beauty</option>
              <option value="health">Health and science</option>
              <option value="legal">Legal, financial and accounting</option>
            </select>
          </div>
        </div>
    </div>

    <button class="govuk-button" style="background-color: #005ea5; margin-bottom: 5px">Search for providers</button>

</div>
