<div class="tl-pane">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-3">
        Filter results by skill area
      </h2>
    <div class="govuk-form-group govuk-!-margin-bottom-4" style="background-color: white; padding: 10px">
      <div class="govuk-checkboxes govuk-checkboxes--small">
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="option1" name="option1" type="checkbox" value="Agriculture, environmental and animal care">
                <label class="govuk-body-s govuk-checkboxes__label" for="option1">
                    Agriculture, environmental and animal care
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="option2" name="option2" type="checkbox" value="Business and administration">
                <label class="govuk-body-s govuk-checkboxes__label" for="option2">
                    Business and administration
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="option3" name="option3" type="checkbox" value="Care services">
                <label class="govuk-body-s govuk-checkboxes__label" for="option3">
                    Care services
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="option4" name="option4" type="checkbox" value="Catering and hospitality">
                <label class="govuk-body-s govuk-checkboxes__label" for="option4">
                    Catering and hospitality
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="option5" name="option5" type="checkbox" value="Construction">
                <label class="govuk-body-s govuk-checkboxes__label" for="option5">
                    Construction
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="option6" name="option6" type="checkbox" value="Creative and design">
                <label class="govuk-body-s govuk-checkboxes__label" for="option6">
                    Creative and design
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="option7" name="option7" type="checkbox" value="Digital">
                <label class="govuk-body-s govuk-checkboxes__label" for="option7">
                    Digital
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="option8" name="option8" type="checkbox" value="Education and childcare">
                <label class="govuk-body-s govuk-checkboxes__label" for="option8">
                    Education and childcare
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="option9" name="option9" type="checkbox" value="Engineering and manufacturing">
                <label class="govuk-body-s govuk-checkboxes__label" for="option9">
                    Engineering and manufacturing
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="option10" name="option10" type="checkbox" value="Hair and beauty">
                <label class="govuk-body-s govuk-checkboxes__label" for="option10">
                    Hair and beauty
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="option11" name="option11" type="checkbox" value="Health and science">
                <label class="govuk-body-s govuk-checkboxes__label" for="option11">
                    Health and science
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="option12" name="option12" type="checkbox" value="Legal, financial and accounting">
                <label class="govuk-body-s govuk-checkboxes__label" for="option12">
                    Legal, financial and accounting
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="option13" name="option13" type="checkbox" value="Protective services">
                <label class="govuk-body-s govuk-checkboxes__label" for="option13">
                    Protective services
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="option14" name="option14" type="checkbox" value="Sales, marketing and procurement">
                <label class="govuk-body-s govuk-checkboxes__label" for="option14">
                    Sales, marketing and procurement
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="option15" name="option15" type="checkbox" value="Transport and logistics">
                <label class="govuk-body-s govuk-checkboxes__label" for="option15">
                    Transport and logistics
                </label>
            </div>
      </div>
    </div>

    <a href="provider-results-geog-area-healthFilter" class="govuk-button govuk-!-margin-bottom-2">
      Filter results
    </a>


</div>
