{% extends "layout.html" %}

{% block pageTitle %}
  Start
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase_banner.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">Match employers with providers for industry placements</h1>

      <form class="form" method="post">

        <div class="govuk-grid-row nhsuk-promo-group">
          <div class="govuk-grid-column-one-third nhsuk-promo-group__item">
            <div class="nhsuk-promo">
              <a class="nhsuk-promo__link-wrapper" href="search?resetSession=true">
                <div class="nhsuk-promo__content">
                  <h2 class="nhsuk-promo__heading">Create and refer new opportunities</h2>
                  <p class="govuk-body">Find relevant, local providers to introduce to your employer.</p>
                </div>
              </a>
            </div>
          </div>
          <div class="govuk-grid-column-one-third nhsuk-promo-group__item">
            <div class="nhsuk-promo">
              <a class="nhsuk-promo__link-wrapper" href="postcode">
                <div class="nhsuk-promo__content">
                  <h2 class="nhsuk-promo__heading">Show all providers in an area</h2>
                  <p class="govuk-body">Search a geographical area for everything that’s available.</p>
                </div>
              </a>
            </div>
          </div>
          <div class="govuk-grid-column-one-third nhsuk-promo-group__item">
            <div class="nhsuk-promo">
              <a class="nhsuk-promo__link-wrapper" href="saved-opportunities">
                <div class="nhsuk-promo__content">
                  <h2 class="nhsuk-promo__heading">View saved opportunities</h2>
                  <p class="govuk-body">Any unreferred opportunities that you’re working on.</p>
                </div>
              </a>
            </div>
          </div>
        </div>

        {% if data['user_type'] == 'admin' %}
        <h2 class="govuk-heading-m">Service administration</h2>

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
              <a class="govuk-link" href="provider-data-find">Manage provider data</a>
            </h3>
            <p class="govuk-body">Add or edit provider contact, venue and course data.</p>
          </div>

          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
              <a class="govuk-link" href="edit-qualifications">Edit qualifications</a>
            </h3>
            <p class="govuk-body">Change course-route mapping or edit course short titles.</p>
          </div>

          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
              <a class="govuk-link" href="employer-upload">Manually upload data</a>
            </h3>
            <p class="govuk-body">Upload csv files of employer data or Ofqual course data.</p>
          </div>

        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
              <a class="govuk-link" href="#">Take service offline</a>
            </h3>
            <p class="govuk-body">Show that the service is ‘under maintenance’.</p>
          </div>
        </div>

        {% else %}
        {% endif %}

      </form>

    </div>
  </div>

{% endblock %}
