{% extends "layout_new.html" %}

{% block pageTitle %}
  Placement requirements (gaps)
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase_banner.html" %}
  {% if data['addopportunity'] == "2" %}
    {% include "includes/cancel_opp.html" %}
  {% else %}
    {% include "includes/start_again.html" %}
  {% endif %}
  <a id="back" class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <form class="form" method="post">

            <span class="govuk-caption-l">{{ data['businessName'] }}</span>
            <h1 class="govuk-heading-l">Placement information</h1>

            <!-- <p class="govuk-body">This information helps us understand where there are not enough providers for industry placements.</p> -->

            {% if data['gapType'] == "noSuitable" %}
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="gap-reason">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h1 class="govuk-fieldset__heading">
                      Why did the employer not choose a provider?
                    </h1>
                  </legend>
                  <span id="gap-reason" class="govuk-hint">
                    Select all that apply
                  </span>
                  <div class="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="gap-reason-1" name="gap-reason" type="checkbox" value="1">
                      <label class="govuk-label govuk-checkboxes__label" for="gap-reason-1">
                        Providers do not have students doing the right course
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="gap-reason-2" name="gap-reason" type="checkbox" value="2">
                      <label class="govuk-label govuk-checkboxes__label" for="gap-reason-2">
                        Employer had a bad experience with them
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="gap-reason-3" name="gap-reason" type="checkbox" value="3">
                      <label class="govuk-label govuk-checkboxes__label" for="gap-reason-3">
                        Providers were too far away
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>

              {% else %}
              {% endif %}

              <div class="govuk-form-group">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h2 class="govuk-fieldset__heading">
                      What specific job would the placement student do? (optional)
                    </h2>
                  </legend>
                  <div class="govuk-form-group">
                    <label class="govuk-hint" for="roleInfogap">
                      For example, admin assistant, care worker, bricklayer
                    </label>
                    <input class="govuk-input govuk-!-width-one-half" id="roleInfo" name="roleInfogap" type="text">
                  </div>
              </div>

              <div class="govuk-form-group">
                <h2 class="govuk-heading-m">Does the employer know how many students they want for this job at {{ data['postcode']}}?</h2>
                <p class="govuk-hint">This can be an estimate</p>

                  <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                      <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="placements-conditional-1" name="placements" type="radio" value="yes" data-aria-controls="conditional-student-number-conditional-1">
                          <label class="govuk-label govuk-radios__label" for="placements-conditional-1">
                              Yes
                          </label>
                      </div>
                      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-student-number-conditional-1">
                          <div class="govuk-form-group">
                              <label class="govuk-label" for="placementNumber">
                                  Number of students
                              </label>
                              <input class="govuk-input govuk-input--width-3" id="{{ data['placementNumber'] }}" name="placementNumber">
                          </div>
                      </div>
                      <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="placements-conditional-2" name="placements" type="radio" value="no" data-aria-controls="conditional-student-number-conditional-2">
                          <label class="govuk-label govuk-radios__label" for="placements-conditional-2">
                              No
                          </label>
                      </div>
                  </div>
              </div>



              <input type="hidden" value="gap" name="placementtype" />
              {% if data['businessName'] == null %}
                      <button class="govuk-button">Continue</button>
              {% else %}
                      <button class="govuk-button">Let us know and continue</button>
              {% endif %}

          </form>

      </div>
  </div>

{% endblock %}
{% block pageScripts %}
<script>
$(document).ready(function(){
  // change labels
  $("#businessNameLabel").text("Start typing their business name")
  accessibleAutocomplete.enhanceSelectElement({
    defaultValue: '',
    selectElement: document.querySelector('#businessName'),
    minLength: 2
  })
});
</script>
<noscript>
    <meta HTTP-EQUIV="REFRESH" content="0; url=JSoff-employer-name">
</noscript>
{% endblock %}
