{% extends "layout.html" %}

{% block pageTitle %}
  Location and route
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase_banner.html" %}
  <a id="back" class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
<form class="form" method="post">

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <div class="govuk-form-group">
              <h1 class="govuk-heading-l">What's the employer's location?</h1>
              <div class="govuk-form-group">
                  <label class="govuk-label" for="postcode">
                      Postcode of workplace
                  </label>
                  <input class="govuk-input govuk-input--width-5" id="postcode" name="postcode" value="{{ data['postcode'] }}" type="text">
              </div>

          </div>

        <button class="govuk-button">Search</button>
      </div>
  </div>

</form>

{% endblock %}
