{% extends "layout.html" %}

{% block pageTitle %}
  User feedback
{% endblock %}

{% block beforeContent %}
  <a id="back" class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Give feedback</h1>

      <h2 class="govuk-heading-m">How do you feel about the help you just got from the matching service?</h2>
      <div class="govuk-form-group">
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="feedback-1" name="feedback" type="radio" value="Vsatisfied">
              <label class="govuk-label govuk-radios__label" for="feedback-1">
                Very satisfied
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="feedback-2" name="feedback" type="radio" value="satisfied">
              <label class="govuk-label govuk-radios__label" for="feedback-2">
                Satisfied
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="feedback-3" name="feedback" type="radio" value="neither">
              <label class="govuk-label govuk-radios__label" for="feedback-3">
                Neither satisfied nor dissatisfied
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="feedback-4" name="feedback" type="radio" value="dissatisfied">
              <label class="govuk-label govuk-radios__label" for="feedback-4">
                Dissatisfied
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="feedback-5" name="feedback" type="radio" value="vdissatisfied">
              <label class="govuk-label govuk-radios__label" for="feedback-5">
                Very dissatisfied
              </label>
            </div>
          </div>
        </div>

        <h3 class="govuk-heading-m">What could the matching service have done better (optional)?</h3>
        <div class="govuk-form-group">
          <!-- <label class="govuk-label" for="more-detail">
            Can you provide more detail?
          </label> -->
          <span id="more-detail-hint" class="govuk-hint">
            Limit is 1200 words
          </span>
          <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
        </div>



      <form class="form" method="post">


        <button class="govuk-button">Send feedback</button>

      </form>

    </div>
  </div>

{% endblock %}
