{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
<a id="back" class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
<form class="form" method="post">




        <div class="govuk-option-select filter-field-text js-collapsible">
          <div class="container-head">
            <label class="option-select-label" for="keywords">
              Keyword search
            </label>
          </div>
          <div class="container-search">
            <input type="search" name="q" id="keywords" maxlength="200">
            <input class="submit" type="submit" value="Search">
          </div>
        </div>

        <div class="govuk-option-select filter-field-text js-collapsible">
          <div class="container-head">
            <label class="option-select-label" for="routeway">
              Select a routeway
            </label>
          </div>
          <div class="govuk-form-group" style="margin-bottom: 5px">
            <select class="govuk-select" id="sort" name="sort">
              <option value="published">Recently published</option>
              <option value="updated" selected>Recently updated</option>
              <option value="views">Most views</option>
              <option value="comments">Most comments</option>
            </select>
          </div>
        </div>
</form>





    </div>

{% endblock %}
