{% extends "layout.html" %}

{% block pageTitle %}
  Search
{% endblock %}

{% block beforeContent %}
<a id="back" class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
<form class="form" method="post">

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
          <h1 class="govuk-heading-l">Find providers</h1>

          <div class="govuk-form-group">
            <label class="govuk-label" for="postcode">
              Postcode of workplace
            </label>
            <input class="govuk-input govuk-input--width-5" id="postcode" name="postcode" value="{{ data['postcode'] }}" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="radius">
              Show providers within:
            </label>
            <select class="govuk-select" id="radius" name="radius">
              <option value="1mile">1 mile</option>
              <option value="3miles">3 miles</option>
              <option value="5miles">5 miles</option>
              <option value="10miles" selected>10 miles</option>
              <option value="25miles" >25 miles</option>
            </select>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="route">
              Skill area
            </label>
            <select class="govuk-select" id="route" name="route">
              <option value="agriculture" selected>Agriculture, environmental and animal care</option>
              <option value="business">Business and administration</option>
              <option value="care">Care services</option>
              <option value="catering">Catering and hospitality</option>
              <option value="construction">Construction</option>
              <option value="creative">Creative and design</option>
              <option value="digital">Digital</option>
              <option value="education">Education and childcare</option>
              <option value="engineering">Engineering and manufacturing</option>
              <option value="hair">Hair and beauty</option>
              <option value="health">Health and science</option>
              <option value="legal">Legal, financial and accounting</option>
            </select>
          </div>

        </div>

        <button class="govuk-button">Search</button>
      </div>
  </div>

</form>

{% endblock %}
