{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
<a id="back" class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
<form class="form" method="post">

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
          <h1 class="govuk-heading-xl">Find providers</h1>
          <p class="govuk-body">Use this service to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>find providers with suitable, local students for your employers</li>
            <li>send emails to providers and employers so they can start talking about placements</li>
            <li>help us identify where there are not enough providers</li>
          </ul>
        </div>
      </div>
  </div>

{% include "./_includes/searchbox.html" %}

</form>


{% endblock %}
