{% extends "layout_complexbasket.html" %}

{% block pageTitle %}
Opportunity basket
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase_banner.html" %}
  {% include "includes/save_return.html" %}
<a id="back" class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
<form class="form" method="post">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <span class="govuk-caption-l">{% if data['businessName'] == "" %}West Ham United Football Club Limited{% else %}{% if data['businessName'] == null %}West Ham United Football Club Limited{% else %}{{ data['businessName'] }}{% endif %}{% endif %}</span>

            <h1 class="govuk-heading-l">All opportunities</h1>

            <p class="govuk-body">
              <input type="hidden" value="2" name="addopportunity" />
              <button class="govuk-button" style="background-color: #dee0e2; color: black;">Add another opportunity</button>
            </p>
</form>

<form class="form" method="post">

<!-- BOTH TABS -->
{% if (data['placementtype'] == "gap") and (data['addopportunity'] == "2") %}

            <div class="govuk-tabs" data-module="tabs">
                <ul class="govuk-tabs__list">
                  <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#opportunities">
                      With providers
                    </a>
                  </li>
                  <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#provision-gaps">
                      With no providers
                    </a>
                  </li>
                </ul>
                <!-- OPPORTUNITIES -->
                <section class="govuk-tabs__panel" id="opportunities">

                  <div class="form-group">
                    <div class="govuk-checkboxes govuk-!-padding-left-4">
                      <div class="govuk-checkboxes__item">
                        <input type="checkbox" class="govuk-checkboxes__input jsCheckboxAll" id="radio-all">
                        <label class="govuk-label govuk-checkboxes__label" for="radio-all">
                          Select all
                        </label>
                      </div>
                    </div>
                  </div>

                  <table class="table-clickable govuk-table">
                      <thead>
                        <tr class="govuk-table__row" style="">
                            <th class="govuk-table__header" scope="row"></th>
                            <th class="govuk-table__header" scope="row">Workplace</th>
                            <th class="govuk-table__header" scope="row">Job role</th>
                            <th class="govuk-table__header" scope="row">Students wanted</th>
                            <th class="govuk-table__header" scope="row">Providers</th>
                            <td class="govuk-table__cell"></td>
                            <td class="govuk-table__cell"></td>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">

                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell multiple-choice--hod">
                            <div class="govuk-checkboxes__item">
                              <input type="checkbox" class="govuk-checkboxes__input jsCheckbox" id="radio-1">
                              <label class="govuk-label govuk-checkboxes__label" for="radio-1">
                                &nbsp;
                              </label>
                            </div>
                          </td>
                          <td class="govuk-table__cell">London WC2E 7PS</td>
                          <td class="govuk-table__cell">
                              {% if (data['roleInfo'] == "") or (data['roleInfo'] == null) %}Physio{% else %}{{ data['roleInfo'] }}{% endif %}
                          </td>
                          <td class="govuk-table__cell">{% if data['placementNumber'] == "" %}2{% else %}{{ data['placementNumber'] }}{% endif %}</td>
                          <td class="govuk-table__cell">2</td>
                          <td class="govuk-table__cell">
                              <a class="govuk-link tl-float-right" href="check-answers?addopportunity=existing">Edit<span class="govuk-visually-hidden"> the type of placement</span></a>
                          </td>
                          <td class="govuk-table__cell">
                              <a class="govuk-link tl-float-right" href="remove-opportunity">Delete<span class="govuk-visually-hidden"> the type of placement</span></a>
                          </td>
                        </tr>

                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell multiple-choice--hod">
                            <div class="govuk-checkboxes__item">
                              <input type="checkbox" class="govuk-checkboxes__input jsCheckbox" id="radio-1">
                              <label class="govuk-label govuk-checkboxes__label" for="radio-1">
                                &nbsp;
                              </label>
                            </div>
                          </td>
                          <td class="govuk-table__cell">London WC2H 9NA</td>
                          <td class="govuk-table__cell">
                              {% if (data['roleInfo'] == "") or (data['roleInfo'] == null) %}Physio{% else %}{{ data['roleInfo'] }}{% endif %}
                          </td>
                          <td class="govuk-table__cell">{% if data['placementNumber'] == "" %}2{% else %}{{ data['placementNumber'] }}{% endif %}</td>
                          <td class="govuk-table__cell">1</td>
                          <td class="govuk-table__cell">
                              <a class="govuk-link tl-float-right" href="check-answers?addopportunity=existing">Edit<span class="govuk-visually-hidden"> the type of placement</span></a>
                          </td>
                          <td class="govuk-table__cell">
                              <a class="govuk-link tl-float-right" href="remove-opportunity">Delete<span class="govuk-visually-hidden"> the type of placement</span></a>
                          </td>
                        </tr>

                      </tbody>
                  </table>

                    <input type="hidden" value="refer" name="basketcontinue" />
                    <button class="govuk-button">Continue with selected opportunities</button>

                </section>
                <!-- PROVISION GAPS -->
                <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="provision-gaps">
                  <table class="govuk-table">
                      <thead>
                        <tr class="govuk-table__row" style="">
                            <th class="govuk-table__header" scope="row">Workplace</th>
                            <th class="govuk-table__header" scope="row">Job role</th>
                            <th class="govuk-table__header" scope="row">Students wanted</th>
                            <th class="govuk-table__header" scope="row">Reason no providers chosen</th>
                            <!-- <td class="govuk-table__cell"></td>
                            <td class="govuk-table__cell"></td> -->
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">London W1F 0TA</td>
                          <td class="govuk-table__cell">{% if data['roleInfogap'] == "" %}none given{% else %}{{ data['roleInfogap'] }}{% endif %}</td>
                          <td class="govuk-table__cell">1</td>
                          <td class="govuk-table__cell">Students are not learning anything relevant</td>
                        </tr>
                      </tbody>
                  </table>
                </section>

            </div>

{% else %}

<!-- JUST GAP -->
{% if data['placementtype'] == "gap" %}
            <table class="govuk-table">
                <thead>
                  <tr class="govuk-table__row" style="">
                      <th class="govuk-table__header" scope="row">Workplace</th>
                      <th class="govuk-table__header" scope="row">Job role</th>
                      <th class="govuk-table__header" scope="row">Students wanted</th>
                      <th class="govuk-table__header" scope="row">Reason no providers chosen</th>
                      <!-- <td class="govuk-table__cell"></td>
                      <td class="govuk-table__cell"></td> -->
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">London W1F 0TA</td>
                    <td class="govuk-table__cell">{% if data['roleInfogap'] == "" %}none given{% else %}{{ data['roleInfogap'] }}{% endif %}</td>
                    <td class="govuk-table__cell">1</td>
                    <td class="govuk-table__cell">Students are not learning anything relevant</td>
                  </tr>
                </tbody>
            </table>

            <a href="start" class="govuk-button">Tell us and finish</a>


{% else %}

<!-- TWO OPPORTUNITIES -->
{% if data['addopportunity'] == "2" %}
            <div class="form-group">
              <div class="govuk-checkboxes govuk-!-padding-left-4">
                <div class="govuk-checkboxes__item">
                  <input type="checkbox" class="govuk-checkboxes__input jsCheckboxAll" id="radio-all">
                  <label class="govuk-label govuk-checkboxes__label" for="radio-all">
                    Select all
                  </label>
                </div>
              </div>
            </div>

            <table class="table-clickable govuk-table">
                <thead>
                  <tr class="govuk-table__row" style="">
                      <th class="govuk-table__header" scope="row"></th>
                      <th class="govuk-table__header" scope="row">Workplace</th>
                      <th class="govuk-table__header" scope="row">Job role</th>
                      <th class="govuk-table__header" scope="row">Students wanted</th>
                      <th class="govuk-table__header" scope="row">Providers</th>
                      <td class="govuk-table__cell"></td>
                      <td class="govuk-table__cell"></td>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell multiple-choice--hod">
                      <div class="govuk-checkboxes__item">
                        <input type="checkbox" class="govuk-checkboxes__input jsCheckbox" id="radio-1">
                        <label class="govuk-label govuk-checkboxes__label" for="radio-1">
                          &nbsp;
                        </label>
                      </div>
                    </td>
                    <td class="govuk-table__cell">London WC2E 7PS</td>
                    <td class="govuk-table__cell">
                        {% if (data['roleInfo'] == "") or (data['roleInfo'] == null) %}Physio{% else %}{{ data['roleInfo'] }}{% endif %}
                    </td>
                    <td class="govuk-table__cell">{% if data['placementNumber'] == "" %}2{% else %}{{ data['placementNumber'] }}{% endif %}</td>
                    <td class="govuk-table__cell">2</td>
                    <td class="govuk-table__cell">
                        <a class="govuk-link tl-float-right" href="check-answers?addopportunity=existing">Edit<span class="govuk-visually-hidden"> the type of placement</span></a>
                    </td>
                    <td class="govuk-table__cell">
                        <a class="govuk-link tl-float-right" href="remove-opportunity">Delete<span class="govuk-visually-hidden"> the type of placement</span></a>
                    </td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell multiple-choice--hod">
                      <div class="govuk-checkboxes__item">
                        <input type="checkbox" class="govuk-checkboxes__input jsCheckbox" id="radio-1">
                        <label class="govuk-label govuk-checkboxes__label" for="radio-1">
                          &nbsp;
                        </label>
                      </div>
                    </td>
                    <td class="govuk-table__cell">London WC2H 9NA</td>
                    <td class="govuk-table__cell">
                        {% if (data['roleInfo'] == "") or (data['roleInfo'] == null) %}Physio{% else %}{{ data['roleInfo'] }}{% endif %}
                    </td>
                    <td class="govuk-table__cell">{% if data['placementNumber'] == "" %}2{% else %}{{ data['placementNumber'] }}{% endif %}</td>
                    <td class="govuk-table__cell">1</td>
                    <td class="govuk-table__cell">
                        <a class="govuk-link tl-float-right" href="check-answers?addopportunity=existing">Edit<span class="govuk-visually-hidden"> the type of placement</span></a>
                    </td>
                    <td class="govuk-table__cell">
                        <a class="govuk-link tl-float-right" href="remove-opportunity">Delete<span class="govuk-visually-hidden"> the type of placement</span></a>
                    </td>
                  </tr>

                </tbody>
            </table>
{% else %}

<!-- ONE OPPORTUNITY -->
            <table class="govuk-table">
                <thead>
                  <tr class="govuk-table__row" style="">
                      <th class="govuk-table__header" scope="row">Workplace</th>
                      <th class="govuk-table__header" scope="row">Job role</th>
                      <th class="govuk-table__header" scope="row">Students wanted</th>
                      <th class="govuk-table__header" scope="row">Providers</th>
                      <td class="govuk-table__cell"></td>
                      <td class="govuk-table__cell"></td>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">

                      <td class="govuk-table__cell">London WC2E 7PS</td>

                      <td class="govuk-table__cell">Physio</td>
                      <td class="govuk-table__cell">2</td>
                      <td class="govuk-table__cell">2</td>
                      <td class="govuk-table__cell">
                          <a class="govuk-link tl-float-right" href="check-answers?addopportunity=existing">Edit<span class="govuk-visually-hidden"> the type of placement</span></a>
                      </td>

                      <td class="govuk-table__cell">
                          <a class="govuk-link tl-float-right" href="remove-opportunity">Delete<span class="govuk-visually-hidden"> the type of placement</span></a>
                      </td>
                  </tr>

                </tbody>
            </table>
{% endif %}
{% endif %}
{% endif %}






        </div>
    </div>

            <p>
                {% if data['placementtype'] == "gap" %}
                {% else %}
                {% if data['addopportunity'] == "2" %}
                <input type="hidden" value="refer" name="basketcontinue" />
                <button class="govuk-button">Continue with selected opportunities</button>
                {% else %}
                <input type="hidden" value="refer" name="basketcontinue" />
                <button class="govuk-button">Continue with opportunity</button>
                {% endif %}
                {% endif %}
            </p>
            <p class="govuk-body"><a href="/public/files/WestHanoverHospitalsTrustOpportunities.xlsx" download class="govuk-link">Download all data as a spreadsheet</a></p>

</form>


{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/select-all.js"></script>
{% endblock %}
