{% extends "layout_complexbasket.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Prototype versions
      </h1>
    </div>

    <div class="govuk-grid-column-full">

        <dl class="app-check-your-answers app-check-your-answers--index">
            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Version
                </dt>
                <dd class="app-check-your-answers__question">
                    Changes
                </dd>
                <dd class="app-check-your-answers__change">
                    <a href="#">
                    </a>
                </dd>
                <dd class="app-check-your-answers__change">
                    <a href="#">
                    </a>
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question" style="padding-top: 30px">
                    1-3-0
                </dt>
                <dd class="app-check-your-answers__answer" style="padding-top: 30px">
                    <h2 class="govuk-heading-s">latest</h2>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Dashboard landing page added and routed in</li>
                        <li>Show me everything updates</li>
                        <li>Basket out of date iteration, halt page removed</li>
                        <li>Journey times removed</li>
                    </ul>
                </dd>
                <dd class="app-check-your-answers__change" style="padding-top: 30px">
                    <a class="govuk-button" href="/1-3-0/setup?resetSession=true">View</a>
                </dd>
                <dd class="app-check-your-answers__change" style="padding-top: 30px">
                    <a href="1-3-0/contents">
                        Contents
                    </a>
                </dd>
            </div>


            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question" style="padding-top: 30px">
                    1-2-0
                </dt>
                <dd class="app-check-your-answers__answer" style="padding-top: 30px">
                    <h2 class="govuk-heading-s">User research 31/10/19</h2>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Second iteration of all providers in a geographical area</li>
                        <li>Basket out of date content updates and alert added</li>
                        <li>Alternative start page dashboard idea added (/dashboard)</li>
                        <li>Non T Level routes added back in</li>
                    </ul>
                </dd>
                <dd class="app-check-your-answers__change" style="padding-top: 30px">
                    <a class="govuk-button" href="/1-2-0/setup?resetSession=true">View</a>
                </dd>
                <dd class="app-check-your-answers__change" style="padding-top: 30px">
                    <a href="1-2-0/contents">
                        Contents
                    </a>
                </dd>
            </div>


            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question" style="padding-top: 30px">
                    1-1-0
                </dt>
                <dd class="app-check-your-answers__answer" style="padding-top: 30px">
                    <h2 class="govuk-heading-s">User research 16/09/19</h2>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Radius removed, everything within 1hr</li>
                        <li>Basket goes out of date halt page and error added to multiple opps scenario</li>
                        <li>Non T Level routes removed</li>
                        <li>Employer led removed</li>
                    </ul>
                </dd>
                <dd class="app-check-your-answers__change" style="padding-top: 30px">
                    <a class="govuk-button" href="/1-1-0/setup?resetSession=true">View</a>
                </dd>
                <dd class="app-check-your-answers__change" style="padding-top: 30px">
                    <a href="1-1-0/contents">
                        Contents
                    </a>
                </dd>
            </div>


            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question" style="padding-top: 30px">
                    1-0-5
                </dt>
                <dd class="app-check-your-answers__answer" style="padding-top: 30px">
                    <h2 class="govuk-heading-s">User research 14/08/19 (geographical area experiment)</h2>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>All providers in a geographical area first iteration flow added</li>
                    </ul>
                </dd>
                <dd class="app-check-your-answers__change" style="padding-top: 30px">
                    <a class="govuk-button" href="/1-0-5/setup?resetSession=true">View</a>
                </dd>
                <dd class="app-check-your-answers__change" style="padding-top: 30px">
                    <a href="1-0-5/contents">
                        Contents
                    </a>
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question" style="padding-top: 30px">
                    1-0-0
                </dt>
                <dd class="app-check-your-answers__answer" style="padding-top: 30px">
                    <h2 class="govuk-heading-s">User research 22/07/19</h2>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Provider names added to opportunity basket</li>
                        <li>Differentiating between selected venues from the same provider - adding postcode</li>
                        <li>Employer CRM guidance pd added to 'find employer' screen</li>
                        <li>New employer led content and tweak to flow (15/08)</li>
                    </ul>
                </dd>
                <dd class="app-check-your-answers__change" style="padding-top: 30px">
                    <a class="govuk-button" href="/1-0-0/setup?resetSession=true">View</a>
                </dd>
                <dd class="app-check-your-answers__change" style="padding-top: 30px">
                    <a href="1-0-0/contents">
                        Contents
                    </a>
                </dd>
            </div>


            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question" style="padding-top: 30px">
                    0-9-0
                </dt>
                <dd class="app-check-your-answers__answer" style="padding-top: 30px">
                    <h2 class="govuk-heading-s">User research 10/07/19</h2>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>T level flag added to provider UI</li>
                        <li>Quick remove of providers added to check answers</li>

                    </ul>
                </dd>
                <dd class="app-check-your-answers__change" style="padding-top: 30px">
                    <a class="govuk-button" href="/0-9-0/setup?resetSession=true">View</a>
                </dd>
                <dd class="app-check-your-answers__change" style="padding-top: 30px">
                    <a href="0-9-0/contents">
                        Contents
                    </a>
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question" style="padding-top: 30px">
                    0-8-0
                </dt>
                <dd class="app-check-your-answers__answer" style="padding-top: 30px">
                    <h2 class="govuk-heading-s">User research 12-13/06/19</h2>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Journey times and T level provider label added to search results</li>
                        <li>All scenarios added to opportunity basket</li>
                        <li>Save and return journey redesign</li>
                        <li>Confirm employer redesign</li>
                        <li>Content refinements to complex journey</li>
                    </ul>
                </dd>
                <dd class="app-check-your-answers__change" style="padding-top: 30px">
                    <a class="govuk-button" href="/0-8-0/setup?resetSession=true">View</a>
                </dd>
                <dd class="app-check-your-answers__change" style="padding-top: 30px">
                    <a href="0-8-0/contents">
                        Contents
                    </a>
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question" style="padding-top: 30px">
                    0-7-0
                </dt>
                <dd class="app-check-your-answers__answer" style="padding-top: 30px">
                    <h2 class="govuk-heading-s">User research 24/05/19</h2>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Opportunity basket redesign</li>
                        <li>/opportunity-basket50 routed in, so can test properly</li>
                        <li>Heading structure changes for complex</li>
                        <li>Employer-permission redesign</li>
                        <li>Provision gaps sent automatically before entering opportunity basket</li>
                    </ul>
                </dd>
                <dd class="app-check-your-answers__change" style="padding-top: 30px">
                    <a class="govuk-button" href="/0-7-0/setup?resetSession=true">View</a>
                </dd>
                <dd class="app-check-your-answers__change" style="padding-top: 30px">
                    <a href="0-7-0/contents">
                        Contents
                    </a>
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question" style="padding-top: 30px">
                    0-6-0
                </dt>
                <dd class="app-check-your-answers__answer" style="padding-top: 30px">
                    <h2 class="govuk-heading-s">User research 02/05/19</h2>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Complete rework of complex opportunities / happy path flow</li>
                        <li>Provider UI content updates, removal of academic years</li>
                    </ul>
                </dd>
                <dd class="app-check-your-answers__change" style="padding-top: 30px">
                    <a class="govuk-button" href="/0-6-0/setup?resetSession=true">View</a>
                </dd>
                <dd class="app-check-your-answers__change" style="padding-top: 30px">
                    <a href="0-6-0/contents">
                        Contents
                    </a>
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question" style="padding-top: 30px">
                    0-5-5
                </dt>
                <dd class="app-check-your-answers__answer" style="padding-top: 30px">
                    <h2 class="govuk-heading-s">User research 17/04/19</h2>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>First draft of complex opportunities flow</li>
                    </ul>
                </dd>
                <dd class="app-check-your-answers__change" style="padding-top: 30px">
                    <a class="govuk-button" href="/0-5-5/setup?resetSession=true">View</a>
                </dd>
                <dd class="app-check-your-answers__change" style="padding-top: 30px">
                    <a href="0-5-5/contents">
                        Contents
                    </a>
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question" style="padding-top: 30px">
                    0-5-0
                </dt>
                <dd class="app-check-your-answers__answer" style="padding-top: 30px">
                    <h2 class="govuk-heading-s">Provider UI</h2>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Cleanse employer contact info help text added</li>
                        <li>Link to open CRM added to done pages</li>
                        <li>Employer email sent too and provision gap flow copy</li>
                        <li>Internal edit and add provider data flow added</li>
                        <li>Complex opportunities interim solution added</li>
                    </ul>
                </dd>
                <dd class="app-check-your-answers__change" style="padding-top: 30px">
                    <a class="govuk-button" href="/0-5-0/setup">View</a>
                </dd>
                <dd class="app-check-your-answers__change" style="padding-top: 30px">
                    <a href="0-5-0/contents">
                        Contents
                    </a>
                </dd>
            </div>


            <div class="app-check-your-answers__contents" style="background-color: #dee0e2">
                <dt class="app-check-your-answers__question" style="padding-top: 30px">
                    MVS
                </dt>
                <dd class="app-check-your-answers__answer" style="padding-top: 30px">
                    <h2 class="govuk-heading-s">MVS prototype as of 29/01/19</h2>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Everything apart from 'must haves' removed</li>
                        <li>Working autocomplete for 'West' employers from CRM</li>
                        <li>Login help screen added after idams issues discovered in dev</li>
                        <li><span class="govuk-!-font-weight-bold">Changes 11/02/19</span> - provision gap flow and copy</li>
                        <li><span class="govuk-!-font-weight-bold">Changes 15/02/19</span> - login help screen, change links on CYA, town in results screen, all removed due to dev effort</li>
                        <li><span class="govuk-!-font-weight-bold">Changes 25/03/19</span> - employer email added so copy to emails-sent changed. CRM link added</li>
                    </ul>
                </dd>
                <dd class="app-check-your-answers__change" style="padding-top: 30px">
                    <a class="govuk-button" href="/MVS/signin">View</a>
                </dd>
                <dd class="app-check-your-answers__change" style="padding-top: 30px">
                    <a href="contents">
                        Contents
                    </a>
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question" style="padding-top: 30px">
                    0-4-0
                </dt>
                <dd class="app-check-your-answers__answer" style="padding-top: 30px">
                    <h2 class="govuk-heading-s">Alpha assessment 18/01/19</h2>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Check-employer contact details content update</li>
                        <li>Route dropdown values dynamic on results page</li>
                        <li>Pathways on check-CRM made dynamic</li>
                        <li>One provider halt page added</li>
                    </ul>
                </dd>
                <dd class="app-check-your-answers__change" style="padding-top: 30px">
                    <a class="govuk-button" href="/0-4-0/signin">View</a>
                </dd>
                <dd class="app-check-your-answers__change" style="padding-top: 30px">
                    <a href="contents">
                        Contents
                    </a>
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question" style="padding-top: 30px">
                    0-3-0
                </dt>
                <dd class="app-check-your-answers__answer" style="padding-top: 30px">
                    <h2 class="govuk-heading-s">User research 11/01/18</h2>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Working results filter changed to 'physiotherapy'</li>
                        <li>Ofsted rating added to results</li>
                        <li>Results data changed to work for new search scenario</li>
                        <li>0 results on routes other than health and science</li>
                    </ul>
                </dd>
                <dd class="app-check-your-answers__change" style="padding-top: 30px">
                    <a class="govuk-button" href="/0-3-0/signin">View</a>
                </dd>
                <dd class="app-check-your-answers__change" style="padding-top: 30px">
                    <a href="contents">
                        Contents
                    </a>
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question" style="padding-top: 30px">
                    0-2-0
                </dt>
                <dd class="app-check-your-answers__answer" style="padding-top: 30px">
                    <h2 class="govuk-heading-s">User research 08/01/18</h2>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Complete redesign and new flow</li>
                        <li>Searching against route only</li>
                        <li>2 screen search/results (quick, upfront) - rest of flow afterwards</li>
                        <li>/Placements screen to gather extra info for emails</li>
                        <li>Content and interaction refinements throughout</li>
                    </ul>
                </dd>
                <dd class="app-check-your-answers__change" style="padding-top: 30px">
                    <a class="govuk-button" href="/0-2-0/signin">View</a>
                </dd>
                <dd class="app-check-your-answers__change" style="padding-top: 30px">
                    <a href="contents">
                        Contents
                    </a>
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question" style="padding-top: 30px">
                    0-1-0
                </dt>
                <dd class="app-check-your-answers__answer" style="padding-top: 30px">
                    <h2 class="govuk-heading-s">User research 13/12/18 and 17/12/18</h2>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>created end to end prototype based new flow diagram and sketching sessions</li>
                        <li>invision/jpeg mockups of results pages</li>
                        <li>linking in/out of invision from /course search page</li>
                    </ul>
                </dd>
                <dd class="app-check-your-answers__change" style="padding-top: 30px">
                    <a class="govuk-button" href="/0-1-0/start">View</a>
                </dd>
                <dd class="app-check-your-answers__change" style="padding-top: 30px">
                    <a href="contents">
                        Contents
                    </a>
                </dd>
            </div>
        </dl>

    </div>

    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">
        Early alpha prototypes/mockups
      </h2>
    </div>

    <div class="govuk-grid-column-full">
      <dl class="app-check-your-answers app-check-your-answers--index">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="padding-top: 30px">
            Invision prototype
          </dt>
          <dd class="app-check-your-answers__answer" style="padding-top: 30px">
            <h2 class="govuk-heading-s">User research 27/11/18</h2>
            <p class="govuk-body">Click through prototype to test 5 different approaches to finding providers</p>
          </dd>
          <dd class="app-check-your-answers__change" style="padding-top: 30px">
            <a class="govuk-button" href="https://projects.invisionapp.com/share/Q9P6KJ7ENP2#/screens/331589929">View</a>
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="padding-top: 30px">
            Click test
          </dt>
          <dd class="app-check-your-answers__answer" style="padding-top: 30px">
            <h2 class="govuk-heading-s">User research 01/11/18</h2>
            <p class="govuk-body">Testing key hypotheses around things like:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>location searches</li>
              <li>the language of skills / occupations</li>
              <li>search vs browse</li>
              <li>maps</li>
            </ul>
          </dd>
          <dd class="app-check-your-answers__change" style="padding-top: 30px">
            <a class="govuk-button" href="https://app.usabilityhub.com/do/s/43389d">View</a>
          </dd>
        </div>
      </dl>
    </div>

  </div>

{% endblock %}
