{% extends "layout.html" %}

{% block pageTitle %}
Some of the chosen providers have changed
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase_banner.html" %}
<a id="back" class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
<form class="form" method="post">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <span class="govuk-caption-l">{% if data['businessName'] == "" %}West Ham United Football Club Limited{% else %}{% if data['businessName'] == null %}West Ham United Football Club Limited{% else %}{{ data['businessName'] }}{% endif %}{% endif %}</span>
            <h1 class="govuk-heading-l">Some of the chosen providers are no longer available</h1>

            <p class="govuk-body">Since you created these opportunities the following provider no longer needs our help with industry placements:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Westminster Kingsway College (NW1 3HB)</li>
            </ul>
            <p class="govuk-body"><a href="opportunity-basket-return">Change providers</a></p>

            <div class="govuk-inset-text">
              If you continue without this provider, any opportunities left with no providers to send the referral to will be deleted.
            </div>

            <button class="govuk-button">Continue anyway</button>

        </div>
    </div>

</form>

{% endblock %}
