{% extends "layout.html" %}

{% block pageTitle %}
Opportunity basket
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase_banner.html" %}
  {% include "includes/save_return.html" %}
<a id="back" class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
<form class="form" method="post">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <span class="govuk-caption-l">{% if data['businessName'] == "" %}West Ham United Football Club Limited{% else %}{% if data['businessName'] == null %}West Ham United Football Club Limited{% else %}{{ data['businessName'] }}{% endif %}{% endif %}</span>

            <h1 class="govuk-heading-l">All placement opportunities</h1>

            <input type="hidden" value="2" name="addopportunity" />
            <button class="govuk-button" style="background-color: #dee0e2; color: black;">Add another opportunity</button>
</form>

<form class="form" method="post">

<!-- BOTH TABS -->
{% if data['placementtype'] == "gap" %}

            <div class="govuk-tabs" data-module="tabs">
                <ul class="govuk-tabs__list">
                  <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#opportunities">
                      Opportunities
                    </a>
                  </li>
                  <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#provision-gaps">
                      Provision gaps
                    </a>
                  </li>
                </ul>
<!-- OPPORTUNITIES -->
                <section class="govuk-tabs__panel" id="opportunities">

                  <div class="form-group">
                    <div class="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="selectAllTrigger" name="select-opportunities" type="checkbox" value="selectAllTrigger">
                          <label class="govuk-label govuk-checkboxes__label" for="selectAllTrigger">
                              Select all opportunities
                          </label>
                      </div>
                    </div>
                  </div>

                  <table class="govuk-table govuk-!-margin-bottom-5">
                      <thead>
                        <tr class="govuk-table__row" style="">
                            <th class="govuk-table__header" scope="row"></th>
                            <th class="govuk-table__header" scope="row">Workplace</th>
                            <th class="govuk-table__header" scope="row">Job role</th>
                            <th class="govuk-table__header" scope="row">Opportunities</th>
                            <th class="govuk-table__header" scope="row">Providers</th>
                            <td class="govuk-table__cell"></td>
                            <td class="govuk-table__cell"></td>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                <div class="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="opp1" name="waste" type="checkbox" value="opp1">
                                        <label class="govuk-label govuk-checkboxes__label" for="opp1">
                                            <span class="govuk-visually-hidden" ">Select this opportunity</span>
                                        </label>
                                    </div>
                                </div>
                            </td>
                            <td class="govuk-table__cell">Coventry CV4 8JB</td>
                            <td class="govuk-table__cell">{% if (data['roleInfo'] == "") or (data['roleInfo'] == null) %}Physiotherapy assistant{% else %}{{ data['roleInfo'] }}{% endif %}</td>
                            <td class="govuk-table__cell">{% if (data['placementNumber'] == "") or (data['placementNumber'] == null) %}2{% else %}{{ data['placementNumber'] }}{% endif %}</td>
                            <td class="govuk-table__cell">2</td>
                            <td class="govuk-table__cell">
                                <a class="govuk-link tl-float-right" href="check-answers">Edit<span class="govuk-visually-hidden"> the type of placement</span></a>
                            </td>

                            <td class="govuk-table__cell">
                                <a class="govuk-link tl-float-right" href="remove-opportunity">Delete<span class="govuk-visually-hidden"> the type of placement</span></a>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                <div class="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="opp3" name="waste" type="checkbox" value="opp3">
                                        <label class="govuk-label govuk-checkboxes__label" for="opp3">
                                            <span class="govuk-visually-hidden" ">Select this opportunity</span>
                                        </label>
                                    </div>
                                </div>
                            </td>
                            <td class="govuk-table__cell">Birmingham B12 3BB</td>
                            <td class="govuk-table__cell">{% if (data['roleInfo'] == "") or (data['roleInfo'] == null) %}Admin{% else %}{{ data['roleInfo'] }}{% endif %}</td>
                            <td class="govuk-table__cell">{% if (data['placementNumber'] == "") or (data['placementNumber'] == null) %}1{% else %}{{ data['placementNumber'] }}{% endif %}</td>
                            <td class="govuk-table__cell">1</td>
                            <td class="govuk-table__cell">
                                <a class="govuk-link tl-float-right" href="check-answers">Edit<span class="govuk-visually-hidden"> the type of placement</span></a>
                            </td>
                            <td class="govuk-table__cell">
                                <a class="govuk-link tl-float-right" href="remove-opportunity">Delete<span class="govuk-visually-hidden"> the type of placement</span></a>
                            </td>
                        </tr>
                      </tbody>
                  </table>

                    <input type="hidden" value="refer" name="basketcontinue" />
                    <button class="govuk-button">Refer selected opportunities</button>

                </section>
<!-- PROVISION GAPS -->
                <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="provision-gaps">
                  <table class="govuk-table">
                      <thead>
                        <tr class="govuk-table__row" style="">
                            <th class="govuk-table__header" scope="row">Workplace</th>
                            <th class="govuk-table__header" scope="row">Opportunities</th>
                            <th class="govuk-table__header" scope="row">Provision gap reason</th>
                            <!-- <td class="govuk-table__cell"></td>
                            <td class="govuk-table__cell"></td> -->
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Birmingham {% if data['postcode'] == "" %}B12 3BB{% else %}{{ data['postcode'] }}{% endif %}</td>
                          <td class="govuk-table__cell">{% if data['placementNumber'] == "" %}At least 1{% else %}{{ data['placementNumber'] }}{% endif %}</td>
                          <td class="govuk-table__cell">None available</td>
                          <!-- <td class="govuk-table__cell">
                              <a class="govuk-link tl-float-right" href="check-answers">Edit<span class="govuk-visually-hidden"> the type of placement</span></a>
                          </td>
                          <td class="govuk-table__cell">
                              <a class="govuk-link tl-float-right" href="#">Delete<span class="govuk-visually-hidden"> the type of placement</span></a>
                          </td> -->
                        </tr>
                      </tbody>
                  </table>
                </section>

            </div>

{% else %}

<!-- TWO OPPORTUNITIES -->
{% if data['addopportunity'] == "2" %}
            <table class="govuk-table">
                <thead>
                  <tr class="govuk-table__row" style="">
                      <th class="govuk-table__header" scope="row"></th>
                      <th class="govuk-table__header" scope="row">Workplace</th>
                      <th class="govuk-table__header" scope="row">Job role</th>
                      <th class="govuk-table__header" scope="row">Opportunities</th>
                      <th class="govuk-table__header" scope="row">Providers</th>
                      <td class="govuk-table__cell"></td>
                      <td class="govuk-table__cell"></td>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                          <div class="govuk-checkboxes">
                              <div class="govuk-checkboxes__item">
                                  <input class="govuk-checkboxes__input" id="opp1" name="waste" type="checkbox" value="opp1">
                                  <label class="govuk-label govuk-checkboxes__label" for="opp1">
                                      <span class="govuk-visually-hidden" ">Select this opportunity</span>
                                  </label>
                              </div>
                          </div>
                      </td>
                      <td class="govuk-table__cell">Coventry CV4 8JB</td>

                      <td class="govuk-table__cell">{% if data['roleInfo'] == "" %}Physiotherapy assistant{% else %}{{ data['roleInfo'] }}{% endif %}</td>
                      <td class="govuk-table__cell">{% if data['placementNumber'] == "" %}2{% else %}{{ data['placementNumber'] }}{% endif %}</td>
                      <td class="govuk-table__cell">2</td>
                      <td class="govuk-table__cell">
                          <a class="govuk-link tl-float-right" href="check-answers">Edit<span class="govuk-visually-hidden"> the type of placement</span></a>
                      </td>
                      <td class="govuk-table__cell">
                          <a class="govuk-link tl-float-right" href="remove-opportunity">Delete<span class="govuk-visually-hidden"> the type of placement</span></a>
                      </td>
                  </tr>
                  <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                          <div class="govuk-checkboxes">
                              <div class="govuk-checkboxes__item">
                                  <input class="govuk-checkboxes__input" id="opp3" name="waste" type="checkbox" value="opp3">
                                  <label class="govuk-label govuk-checkboxes__label" for="opp3">
                                      <span class="govuk-visually-hidden" ">Select this opportunity</span>
                                  </label>
                              </div>
                          </div>
                      </td>
                      <td class="govuk-table__cell">Birmingham {% if data['postcode'] == "" %}B12 3BB{% else %}{{ data['postcode'] }}{% endif %}</td>
                      <td class="govuk-table__cell">{% if data['roleInfo'] == "" %}Admin{% else %}{{ data['roleInfo'] }}{% endif %}</td>
                      <td class="govuk-table__cell">{% if data['placementNumber'] == "" %}1{% else %}{{ data['placementNumber'] }}{% endif %}</td>
                      <td class="govuk-table__cell">1</td>
                      <td class="govuk-table__cell">
                          <a class="govuk-link tl-float-right" href="check-answers">Edit<span class="govuk-visually-hidden"> the type of placement</span></a>
                      </td>

                      <td class="govuk-table__cell">
                          <a class="govuk-link tl-float-right" href="remove-opportunity">Delete<span class="govuk-visually-hidden"> the type of placement</span></a>
                      </td>
                  </tr>
                </tbody>
            </table>
{% else %}

<!-- ONE OPPORTUNITY -->
            <table class="govuk-table">
                <thead>
                  <tr class="govuk-table__row" style="">
                      <th class="govuk-table__header" scope="row">Workplace</th>
                      <th class="govuk-table__header" scope="row">Job role</th>
                      <th class="govuk-table__header" scope="row">Opportunities</th>
                      <th class="govuk-table__header" scope="row">Providers</th>
                      <td class="govuk-table__cell"></td>
                      <td class="govuk-table__cell"></td>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">

                      <td class="govuk-table__cell">Coventry CV4 8JB</td>

                      <td class="govuk-table__cell">Physiotherapy assistant</td>
                      <td class="govuk-table__cell">2</td>
                      <td class="govuk-table__cell">2</td>
                      <td class="govuk-table__cell">
                          <a class="govuk-link tl-float-right" href="check-answers">Edit<span class="govuk-visually-hidden"> the type of placement</span></a>
                      </td>

                      <td class="govuk-table__cell">
                          <a class="govuk-link tl-float-right" href="remove-opportunity">Delete<span class="govuk-visually-hidden"> the type of placement</span></a>
                      </td>
                  </tr>

                </tbody>
            </table>
{% endif %}
{% endif %}


            {% if data['addopportunity'] == "2" %}
            <p class="govuk-body"><a href="#" class="govuk-link">Download selected opportunities as spreadsheet (CSV, XMb)</a></p>
            {% else %}
            <p class="govuk-body"><a href="#" class="govuk-link">Download opportunity as spreadsheet (CSV, XMb)</a></p>
            {% endif %}

        </div>
    </div>

            <p class="govuk-body">
                {% if data['placementtype'] == "gap" %}
                {% else %}

                {% if data['addopportunity'] == "2" %}
                <input type="hidden" value="refer" name="basketcontinue" />
                <button class="govuk-button">Refer selected opportunities</button>
                {% else %}
                <input type="hidden" value="refer" name="basketcontinue" />
                <button class="govuk-button">Refer opportunity</button>
                {% endif %}
                {% endif %}
            </p>
</form>


{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/select-all.js"></script>
{% endblock %}
