{% extends "layout.html" %}

{% block pageTitle %}
  Placement requirements (gaps)
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase_banner.html" %}
  {% include "includes/start_again.html" %}
  <a id="back" class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          {% if (data['addopportunity'] == "2") or (data['addopportunity'] == "50") %}
          <span class="govuk-caption-m">New opportunity</span>
          <!-- <span class="govuk-caption-l">{{ data['businessName'] }}</span> -->
          <h1 class="govuk-heading-l">Does the employer know how many placements they want at this location?</h1>
          {% else %}
          <h1 class="govuk-heading-l">Does the employer know how many placements they want at this location?</h1>
          {% endif %}


          <form class="form" method="post">

              <p class="govuk-body">This information helps us understand where there are not enough providers for industry placements.</p>

              <!-- <div class="govuk-form-group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            What specific job would the placement student do?
          </h2>
        </legend>
        <div class="govuk-form-group">
          <label class="govuk-hint" for="one-half">
            For example, admin assistant, care worker, bricklayer
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="roleInfo" name="roleInfo" type="text">
        </div>
    </div> -->



              <div class="form-group">
                  <p class="govuk-hint">This can be an estimate</p>

                  <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                      <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="student-number-conditional-1" name="placements" type="radio" value="yes" data-aria-controls="conditional-student-number-conditional-1">
                          <label class="govuk-label govuk-radios__label" for="student-number-conditional-1">
                              Yes
                          </label>
                      </div>
                      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-student-number-conditional-1">
                          <div class="govuk-form-group">
                              <label class="govuk-label" for="placementNumber">
                                  Number of placements
                              </label>
                              <input class="govuk-input govuk-input--width-3" id="{{ data['placementNumber'] }}" name="placementNumber">
                          </div>
                      </div>
                      <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="student-number-conditional-2" name="placements" type="radio" value="no" data-aria-controls="conditional-student-number-conditional-2">
                          <label class="govuk-label govuk-radios__label" for="student-number-conditional-2">
                              No
                          </label>
                      </div>
                  </div>
              </div>
              <input type="hidden" value="gap" name="placementtype" />

              {% if data['businessName'] == null %}
                      <button class="govuk-button">Confirm and continue</button>
              {% else %}
                      <button class="govuk-button">Report gap and continue</button>
              {% endif %}

          </form>

      </div>
  </div>

{% endblock %}
{% block pageScripts %}
<script>
$(document).ready(function(){
  // change labels
  $("#businessNameLabel").text("Start typing their business name")
  accessibleAutocomplete.enhanceSelectElement({
    defaultValue: '',
    selectElement: document.querySelector('#businessName'),
    minLength: 2
  })
});
</script>
<noscript>
    <meta HTTP-EQUIV="REFRESH" content="0; url=JSoff-employer-name">
</noscript>
{% endblock %}
